.container-fluid
  .col-md-3
    .left left side
  .col-md-6
    .center.center_scroll
      .center_contents
        %h1 All Events

        %a{ href: new_event_url } Create a New Event

        .events_scroll
          - @events.each do |event|
            = form_for(event, url: edit_event_url(event.id), method: :get) do
              - color = cycle('even', 'odd')
              .event{ class: color }
                -#%label{ for: :name }
                .value#name= event.name
                -#%label{ for: :description }
                -#.value= event.description

  .col-md-3
    .right right side

:javascript
  initEventHover();
  initSubmitEvent();
