# Please rename this file to database.yml and update credentials if neccessary

default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: localhost
  username: postgres
  password:

development:
  <<: *default
  database: cb_dev

test:
  <<: *default
  database: cb_test

production:
  <<: *default
  database: cb_prod
