/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.even {
  background-color: #D0D0D0;
}

.odd {
  background-color: #F0F0F0;
}

.even_hover {
  background-color: #88AAAA;
}

.odd_hover {
  background-color: #A8CACA;
}

body {
  font-family: Century Gothic, sans-serif;
  font-size: 2em;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2.4em;
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}

.field {
  font-size: .8em;
}

input[type="text"] {
  width: 400px;
}

textarea {
  width: 400px;
  height: 100px;
}
