.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
  border-radius:30px;
}

.auth-field {
  border: 1px solid darkgrey;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-submit {
  border: 1px solid black;
  padding: 10px;
  margin: 40px 10px 10px 10px;
  border-radius: 10px;
  background-color: #d5f0cb;
}

.auth-submit:hover {
  background-color: #acc2a4;
  color: white;
}

.auth-swap {
  text-decoration: underline;
  color: #5b9b9b;
}

.auth-swap:hover {
  color: #2e5252;
}
