.H_Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.V_Flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event__item_hidden {
  max-height: 0;
  display: none;
}

.event__item:nth-child(even) {
  background-color: #dedede;
}

.event__item:nth-child(odd) {
  background-color: #eeeeee;
}

.event__item_spacer {
  padding-left: 4px;
  padding-right: 4px;
}

.event__item_spacer:hover {
  cursor: pointer;
}

.event__item_toggle {
  margin-left: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.78);
}

.event__item {
  padding: 18px;
  min-width: 500px;
  width: 85%;
}

.default_text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.header_text {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.header_text:hover {
  cursor: pointer;
  color: #21d4e5;
}
.event__item_link:hover {
  cursor: pointer;
  color: #21d4e5;
  text-decoration: underline;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.event__item_toggle:hover {
  color: rgba(0, 0, 0, 0.78);
}
