// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  align-items: center;
}

.header__center {
  width: 100%;
  align-items: center;
}

.header_desc {
  font-family: "Roboto", sans-serif;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-blue {
  color: #21d4e5;
}

.header__new_event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: #c7ebeb;
  border: 1px solid lightgrey;
  margin: 5px 0;
}
.header__new_event:hover {
  background-color: #8bd8d8;
}
