.center_scroll {
  background-color: #FFFFFF;
  height: 100vh;
  min-width: 100%;
  position: absolute;
  position-top: 0;
  padding: 20px;
}

.left, .right {
  height: 100vh;
  min-width: 40%;
}

.col-md-3, .col-md-6 {
  padding: 0;
  margin: 0;
}

.event {
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  color: #000000;
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
  letter-spacing: 2px;
  width: 100%;
  overflow: auto;
}


#name {
  text-align: left;
  /*position: absolute;*/
  color: #404040;
  /*color: #707070;*/
  font-size: 1.5em;
  float: left;
}


#venue {
  font-family: Century Gothic, sans-serif;
  text-align: right;
  /*position: relative;*/
  /*position: absolute;*/
  color: #808080;
  float: right;
}

.hover_color {
  background-color: #FFEE80;
}

.events_display {
  width: 100%;
}

.status_select {
  text-align: right;
}

.event_column {
  min-width: 90%;
}

.select_column {
  max-width: 40px;
  width: 40px;
}

.event_row {
  width: 100%;
}
