.center_scroll {
  background-color: #FFFFFF;
  height: 100vh;
  min-width: 100%;
  position: absolute;
  position-top: 0;
  padding: 20px;
}

.left, .right {
  height: 100vh;
  min-width: 100%;
}

.col-md-3, .col-md-6 {
  padding: 0;
  margin: 0;
}

.rounded {
  border-radius: 10px;
  /*background: #000; /!* without a background or border applied you won't be able to see if its rounded *!/*/
  border-style: solid;
  border-width: 1px;
  border-color: #88AA55;
  padding: 10px;
  margin: 10px;
}
