.user__profile__picture {
  border-radius: 50%;
}

.user__attendance {
  border-radius: 50%;
}

.attending {
  border: 2px solid green;
}

.not_going {
  border: 2px solid red;
}

.needsTickets {
  border: 2px solid orange;
}
